
.bss-theme-dark {
  // Primary
  --p: 262 80% 50%;
  // Primary focus
  --pf: 262 80% 43%;
  // Primary content (font)
  --pc: 0 0% 100%;

  --s: 316 70% 50%;
  --sc: 0 0% 100%;
  --sf: 316 70% 43%;

  --a: 175 70% 41%;
  --ac: 0 0% 100%;
  --af: 175 70% 34%;

  --n: 213 18% 20%;
  --nf: 212 17% 17%;
  --nc: 220 13% 69%;

  --b1: 212 18% 14%;
  --b2: 213 18% 12%;
  --b3: 213 18% 10%;
  --bc: 220 13% 69%;

  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
}
