.bss-theme-forest {
  --pf: 141 72% 35%;
  --sf: 164 73% 35%;
  --af: 175 73% 35%;
  --nf: 161 37% 8%;
  --b2: 0 12% 1%;
  --b3: 0 0% 0%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --bc: 360 1% 79%;
  --sc: 158 32% 11%;
  --ac: 172 31% 11%;
  --nc: 157 7% 81%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --p: 141 72% 42%;
  --pc: 0 0% 0%;
  --s: 164 73% 42%;
  --a: 175 73% 42%;
  --n: 161 37% 15%;
  --b1: 0 12% 8%;
}