.bss-theme-lofi {
  --pf: 0 0% 0%;
  --sf: 0 2% 3%;
  --af: 0 0% 8%;
  --nf: 0 0% 0%;
  --p: 0 0% 5%;
  --pc: 0 0% 100%;
  --s: 0 2% 10%;
  --sc: 0 0% 100%;
  --a: 0 0% 15%;
  --ac: 0 0% 100%;
  --n: 0 0% 0%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 0 2% 90%;
  --bc: 0 0% 0%;
  --in: 212 100% 48%;
  --inc: 0 0% 100%;
  --su: 137 72% 46%;
  --suc: 0 0% 0%;
  --wa: 5 100% 66%;
  --wac: 0 0% 100%;
  --er: 325 78% 49%;
  --erc: 0 0% 100%;
  --border-radius: 0px;
}