.bss-theme-retro {
  --pf: 3 74% 69%;
  --sf: 145 27% 65%;
  --af: 24 67% 52%;
  --nf: 340 7% 10%;
  --inc: 239 85% 93%;
  --suc: 126 38% 89%;
  --wac: 29 59% 11%;
  --erc: 11 100% 91%;
  --p: 3 74% 76%;
  --pc: 345 5% 15%;
  --s: 145 27% 72%;
  --sc: 345 5% 15%;
  --a: 24 67% 59%;
  --ac: 345 5% 15%;
  --n: 340 7% 17%;
  --nc: 43 41% 88%;
  --b1: 45 47% 80%;
  --b2: 44 47% 73%;
  --b3: 44 47% 68%;
  --bc: 345 5% 15%;
  --in: 221 83% 53%;
  --su: 142 76% 36%;
  --wa: 32 95% 44%;
  --er: 0 72% 51%;
}