.bss-theme-valentine {
  color-scheme: light;
  --pf: 353 74% 60%;
  --sf: 254 86% 70%;
  --af: 42 71% 43%;
  --nf: 336 43% 41%;
  --b2: 318 46% 82%;
  --b3: 318 46% 75%;
  --pc: 356 26% 14%;
  --sc: 256 20% 15%;
  --ac: 42 87% 90%;
  --inc: 239 85% 93%;
  --suc: 126 38% 89%;
  --wac: 29 59% 11%;
  --erc: 11 100% 91%;
  --p: 353 74% 67%;
  --s: 254 86% 77%;
  --a: 42 84% 44%;
  --n: 336 43% 48%;
  --nc: 318 46% 89%;
  --b1: 318 46% 89%;
  --bc: 344 38% 28%;
  --in: 221 83% 53%;
  --su: 142 76% 36%;
  --wa: 32 95% 44%;
  --er: 0 72% 51%;
}