.bss-button-container {
  position: absolute;
  left: 5px;
  bottom: 7px;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  .bss-button {
    padding: 2px 5px;
  }
}

.bss-button-container--has-buttons {
  .msg2, .d7, .d7p {
    position: relative;
  }

  .d7, .d7p {
    margin-bottom: 30px;

    .bss-button-container {
      bottom: -25px;
    }
  }
}

.ads_region {
  padding-left: var(--bss-adsRegion-paddingLeft);
}
