.bss-container-button {
  position: absolute;
  left: 5px;
  bottom: 2px;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  .bss-button {
    padding: 2px 5px;
  }

  @media screen and (min-width:1280px) {
    bottom: 7px;
  }
}

.bss-container-button--has-buttons {
  .msg2, .d7, .d7p {
    position: relative;
  }

  .d7, .d7p {
    margin-bottom: 30px;

    .bss-container-button {
      bottom: -25px;
    }
  }
}

.ads_region {
  padding-left: var(--bss-adsRegion-paddingLeft);
}
