// Layout

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

// Margins and paddings
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}