.bss-dark {
  .page_bg {
    background-image: url('https://ssplus.kristofers.dev/sscom-sm.png');

    @media screen and (min-width: 1280px) {
      background-image: url('https://ssplus.kristofers.dev/sscom.png');
    }
  }

  &, a, .main_category, #page_footer, h1, h2, #err_w_td, .ads_contacts_bold,
  .ads_contacts, button, .b, .wb-header, .td6, .alert_dv, .auto_c_head, .new_ad_auto_c, .d7, .td1, .td7, .td11 {
    color: var(--dark-text-color) !important;
  }

  .am4:hover {
    color: var(--dark-text-color);
  }

  #page_footer, .bss-settings__settings-item {
    border-color: var(--dark-line-color);
  }

  .main_images {
    display: none;
  }

  select, input, .bss-core-button, .btn, textarea {
    color: var(--dark-text-color);
    background-color: var(--dark-background-lighter-color);
    outline: none;
    border: 1px solid var(--dark-background-lightest-color);
  }

  .d8p {
    border-color: var(--dark-green-color);
  }

  .category_cnt, .category_head, .ads_opt, .auto_c {
    color: var(--dark-green-color);
  }

  .msg2, .msga2-o, .msga2, .msga2-r, .msg_column, .msg_column_td, .bss-settings__window, .bss-settings__version, .new_ad_img_body {
    border-color: var(--dark-background-lighter-color) !important;
  }

  .msg_column, .msg_column_td, .d7p {
    background: var(--dark-green-color);
  }

  table[bgcolor], td[bgcolor], tr[bgcolor], .filter_second_line_dv, .d5, .d7, .bss-filter-mem {
    background-color: var(--dark-background-lighter-color) !important;
  }

  tr[id^="tr_"], div[id^="tr_"], #page_right {
    background-color: var(--dark-background-color) !important;
  }

  table[style^="border"] {
    border-color: var(--dark-background-lighter-color) !important;
  }
  
  img[src="https://bnr.ss.com/img/shadow.jpg"] {
    display: none;
  }

  .mbnr_tbl {
    border-color: none;
  }

  .navi, .navia {
    box-shadow: none;
    background: var(--dark-background-color);
    border-color: var(--dark-background-lighter-color);

    &:hover {
      background: var(--dark-background-lighter-color);
    }
  }

  .main_head {
    position: relative;
    background: none;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: var(--dark-line-color);
    }
  }

  &, .page_header, .bss-settings__menu, .alert_body, #sslogin {
    background-color: var(--dark-background-color);
  }

  .bss-settings__button, .bss-settings__reload  {
    background-color: var(--dark-background-color);
    border-color: var(--dark-background-color);
  }

  .bss-preview, .top_head_msg, .winbox, .wb-body, .wb-header, .alert_dv, .new_ad_auto_c, .auto_c_head, .bss-gallery__button, .bss-memo__button, .new_ad_img_div {
    background-color: var(--dark-background-lighter-color);
  }

  .bss-memo__button--active {
    background-color: var(--primary-color);
  }

  .wb-close {
    &::before, &::after {
      background-color: var(--dark-text-color);
    }
  }
}