.msg2 {
  position: relative;
}

.ssplus-preview-enabled {
  .ads_region {
    padding-left: 45px;
  }
}

.ssplus-preview {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  background-color: color(background);

  &__menu {
    padding: 0 20px;

    button {
      border: 0;
      background-color: transparent;
      margin-right: 10px;
      font-weight: 500;
      padding-bottom: 10px;

      &.ssplus-preview__menu--active {
        border-bottom: 2px solid color(primary);
      }
    }
  }

  &__details {
    padding: 20px;
  }
}

.ssplus-gallery {
  display: flex;
  margin-bottom: 30px;

  &__images {
    flex-shrink: 0;
    width: 112px;
    padding-left: 23px;
    padding-top: 10px;
  }

  &__image {
    width: 92px;
    height: 84px;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 92px;
      height: 84px;
      object-fit: cover;
      object-position: center;
    }

    &--active {
      background-color: color(primary);
      
      img {
        opacity: 0.8;
      }
    }
  }

  &__preview {
    padding: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 0 none;
    background-color: color(background-darker);
    border-radius: 5px;
    padding: 2px 5px;
    z-index: 999;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    i {
      color: color(gray);
    }

    .icon-image {
      margin-right: 5px;
    }

    .icon-chevron-down {
      font-size: 10px;
    }
  }

  &__container {
    width: 100%;
  }
}

.ssplus-gallery-image {
  position: absolute;
  z-index: 999;

  &__controls {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    position: absolute;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    z-index: 10;

    button, a {
      padding: 5px 10px;
      border: 0;
      background-color: transparent;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }

    span {
      color: color(dark-gray);
    }

    &-rr {
      .icon-rotate-left {
        display: inline-block;
        transform: scaleX(-1);
      }
    }
  }

  &__image {
    cursor: pointer;
    user-select: none;
    max-width: none;
    max-height: none;

    &[data-rotation] {
      transform-origin: left top;
    }

    &[data-rotation="0"] {
      transform: initial;
    }

    &[data-rotation="1"] {
      transform: rotate(90deg) translateY(-100%);
    }

    &[data-rotation="2"] {
      transform: rotate(180deg) translate(-100%, -100%);
    }

    &[data-rotation="3"] {
      transform: rotate(270deg) translateX(-100%);
    }
  }
}