.bss-search {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__results {
    position: absolute;
    background-color: hsl(var(--b1));
    border: 1px solid hsl(var(--bc) / 0.2);

    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 999;

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid hsl(var(--bc) / 0.2);
      color: hsl(var(--a));
    }

    &-close {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-item {
      margin-bottom: 10px;

      &-match {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}