.bss-search {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  &__results {
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--background-darker-color);

    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 999;

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--background-darker-color);
    }

    &-close {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-item {
      margin-bottom: 10px;

      &-match {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.bss-dark {
  .bss-search__results {
    background-color: var(--dark-background-lighter-color);
    color: var(--dark-text-color);
    border-radius: 5px;
    border-color: var(--dark-background-lightest-color);
  }

  .bss-search__results-head {
    border-color: var(--dark-background-lightest-color);
  }
}