@import './winbox';

.bss-settings {
  display: flex;
  height: 100%;
  font-family: $font-family;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    width: 180px;
    height: 100%;

    background-color: color(background);

    &-items {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: 100%;
      border: none;
      padding: 12px;
      background-color: transparent;
      text-align: left;
      font-size: 14px;

      &--active {
        border-left: 2px solid color(primary);
      }
    }
  }

  &__version {
    border-top: 1px solid color(background-darker);
    padding: 12px;
    font-size: 12px;

    a {
      font-weight: 500;
      color: color(primary);
    }
  }

  &__settings {
    padding: 10px;

    &-title {
      font-size: 12px;
      margin-bottom: 10px;
    }

    &-item {
      margin-bottom: 10px;
    }
  }

  &__button {
    width: 50px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -4px;
    font-family: $font-family;
    font-weight: 500;
    color: color(primary);
    background-color: color(background);
    border: 1px solid color(background-darker);
  }

  &__window {
    z-index: 999 !important;
    border: 1px solid lightgrey;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &-description {
      color: color(gray);
      font-size: 12px;
      margin-top: 2px;
    }
  }
}