:root {
  --primary-color: #5516C2;
  --background-color: #F6F6F6;
  --background-darker-color: #E9E9E9;
  --gray-color: #707070;
  --dark-gray-color: #1c1c1c;

  --dark-text-color: #c3c3c3;
  --dark-text-darker-color: #828282;
  --dark-background-color: #262626;
  --dark-background-lighter-color: #373737;
  --dark-background-lightest-color: #444444;
  --dark-line-color: #585858;
  --dark-green-color: #4b8159;
}
