:root {
  // Background
  --background-color: #FFFFFF;
  --listing-background-color-hover: #f0f0f0;
  --input-background-color: #FFFFFF;
  --input-background-color-focus: #FFFFFF;
  --table-header-background-color: #EEEEEE;
  --table-heading-background-color: #219a32;
  --pagination-background-color: #ededed;
  --pagination-background-color-hover: #FFFFFF;
  --pagination-background-color-active: #FFFFFF;
  --alert-background-color: green;
  --alert-body-background-color: #FFFFFF;
  --sslogin-background-color: #FFF;

  // Font color
  --font-color: #000000;
  --link-visited-color: #aaa;
  --link-hover-color: #06c;
  --section-heading-color: #000;
  --menu-font-color: #EEE;
  --menu-font-color-hover: #FFF;
  --accent-color: green;
  --pagination-active-color: #000;
  --alert-heading-color: #000;
  --head-title-color: #036013;
  --sslogin-color: #777;
  --new-ad-link-color: #777;

  --menu-accent-color: #FFF;
  --photo-label-color: #777;
  --listing-count-color: #027315;
  
  // Border color
  --listing-border-color: #ccc;
  --listing-header-border-color: #fff;
  --border-color: #418c4e;
  --input-border-color: #d3d3d3;
  --pagination-border-color: #dbdbdb;

  // Other
  --alert-shadow-color: green;
  
  // BSS
  --border-radius: 4px;
  --p: 259 94% 51%;
  --pc: 259 96% 91%;
  --s: 314 100% 47%;
  --sc: 314 100% 91%;
  --a: 174 75% 46%;
  --ac: 174 75% 11%;
  --n: 214 20% 21%;
  --nc: 212 19% 87%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 180 2% 90%;
  --bc: 215 28% 17%;
  --pf: 259 94% 44%;
  --sf: 314 100% 40%;
  --af: 174 75% 39%;
  --nf: 214 20% 14%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
}

.bss-theme {
  // Background
  --background-color: hsl(var(--b1));
  --input-background-color: hsl(var(--b1));
  --input-background-color-focus: hsl(var(--b1));
  --table-header-background-color: hsl(var(--b2));
  --listing-background-color-hover: hsl(var(--b2));
  --listing-header-background-color: hsl(var(--n));
  --pagination-background-color: hsl(var(--b1));
  --pagination-background-color-hover: hsl(var(--b2));
  --pagination-background-color-active: hsl(var(--a));
  --alert-background-color: hsl(var(--n));
  --alert-body-background-color: hsl(var(--b1));
  --sslogin-background-color: hsl(var(--b2));
  
  // Font color
  --font-color: hsl(var(--bc) / 0.8);
  --menu-font-color: hsl(var(--bc) / 0.8);
  --menu-font-color-hover: hsl(var(--bc));
  --section-heading-color: hsl(var(--bc));
  --photo-label-color: hsl(var(--bc) / 0.8);
  --link-hover-color: hsl(var(--af));
  --link-visited-color: hsl(var(--bc) / 0.1);
  --listing-count-color: hsl(var(--a));
  --listing-header-color: hsl(var(--nc));
  --menu-accent-color: hsl(var(--a));
  --accent-color: hsl(var(--a));
  --pagination-active-color: hsl(var(--ac));
  --head-title-color: hsl(var(--s));
  --alert-heading-color: hsl(var(--nc));
  --sslogin-color: hsl(var(--bc));
  --ip-color: hsl(var(--s));
  --new-ad-link-color: hsl(var(--a));
  
  // Border color
  --border-color: hsl(var(--bc) / 0.2);
  --listing-border-color: hsl(var(--bc) / 0.2);
  --listing-header-border-color: hsl(var(--bc) / 0.2);
  --input-border-color: hsl(var(--bc) / 0.2);
  --pagination-border-color: hsl(var(--bc) / 0.2);

  // Other
  --alert-shadow-color: hsl(var(--b3));

  // BSS
  --bss-button-border-color: hsl(var(--b2));
  --bss-button-background-color: hsl(var(--b1));
  --bss-button-background-color-hover: hsl(var(--b3));
}

@import 'themes/light';
@import 'themes/dark';
@import 'themes/lofi';
@import 'themes/synthwave';
@import 'themes/black';
@import 'themes/forest';
@import 'themes/retro';